*{font-size:1.4vw;font-family:'Pretendard'}
textarea{width:100%;height:auto;resize:none;background:transparent;outline: none;border:none;}
.content-wrapper{display:flex;flex-direction:column;padding:0.5vw}
.appendix-title{background:#666;color:#1DFDBE;padding:1.5vh 2vw;font-size:1.4vw;font-weight:500;box-shadow:0 0.7vh 0.7vh rgba(0,0,0,0.4);border-radius:5px}
.appendix-table{width:100%;margin:2vh 0 0 0}
.table-header{display:flex;width:100%;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-radius:5px;background:#666;color:#fff;box-shadow:0 0.2vh 0.2vh rgba(0,0,0,0.4)}
.table-header .col{flex:1;padding:1vh 0 1vh 2.5vw}
.table-header .col:nth-child(1){flex:0.6}
.table-header .col:nth-child(2){flex:1}
.table-header .col:nth-child(3){flex:1.5}
.left-section{flex:1;display:flex;flex-direction:column;margin-top:0.1vh}
.form{display:flex}
.form-title{width:20vw;color:#f3f3f3;background:#a7a7a7;border-bottom:1px solid #f3f3f3;display:flex;justify-content:center;align-items:center}
.form-title span{padding-left:2.5vw;width:calc(100% - 2.5vw)}
.form-content{flex:1;display:flex;align-items:center;padding:0 2.5%;background:#f7f7f7;border-bottom:1px solid #d4d4d4;height:4vw}
.form-content input {padding: 6px 0;width: 30%;border: none;border-radius: 3px;box-sizing: border-box;background: transparent;outline: none;}
.form-content input:nth-child(2) {margin-left:12%;}
.form-notitle{border-bottom:none}
.form-nocontent{border-bottom:none}
.form:nth-child(1) .form-title{border-top-left-radius:0.6vw}
.form:nth-child(1) .form-content{border-top-right-radius:0.6vw}
.form:nth-last-child(1) .form-title{border-bottom-left-radius:0.6vw}
.form:nth-last-child(1) .form-content{border-bottom-right-radius:0.6vw}
.form-content-3{height:13vw}
.btn-right{flex-direction:row-reverse}
.btn-right button{margin:0 0 0 0.4vw}
.form-content button{padding:0 0.6vw;min-width:6vw;height:2.8vw;background:#a7a7a7;color:#000;border:none;border-radius:6px;cursor:pointer;box-shadow:2px 2px 4px rgba(0,0,0,0.2)}